<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ww.lp.environment">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
            android:name="CustomApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <!-- 启动页面 -->
        <activity
                android:name=".module.SplashActivity"
                android:configChanges="keyboardHidden|orientation"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.Launcher">
        </activity>

        <activity
                android:name=".module.webview.WebViewCookiesCacheActivity"
                android:configChanges="keyboardHidden|orientation"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
                android:name=".module.webview.NormalWVActvity"
                android:screenOrientation="portrait"
                android:launchMode="singleTask"
                android:windowSoftInputMode="stateHidden"/>
        <activity
                android:name=".module.login.LoginActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
    </application>

</manifest>