<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="lib/jquery.1.9.1.min.js"></script>
    <link href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <link href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <script>


   var app = angular.module('myApp', []);
        var arr = location.search.replace('?', '').split('=');
        var target = arr[arr.indexOf('target') + 1];
        app.controller('myCtrl', function($scope) {
            //$scope.names = [{ id: 1, name: "安庆第一污水处理厂" }, {id:2, name:"巢湖市第一污水处理厂"}];
            //$scope.search = function(){
            //    $scope.names = [{id:3, name:"太原市第一污水处理厂"}, {id:4, name:"太原市第二污水处理厂"}];
            //};
            $.post(ip + "/webapi/v2/agencies/TakeEnterprises/" + epu_id, function (data) {
                $scope.$apply(function () {
                    $scope.names = data.data;
                });
            });

            $scope.target = target;
            //$scope.names = [{ "Id": 1, "Name": "安庆第一污水处理厂" }, { "Id": 2, "Name": "巢湖市第一污水处理厂" }];
        });


function back(){
Android.back();
}


    </script>
</head>
<body>
    <div class="container-fluid" ng-app="myApp" ng-controller="myCtrl">
        <div class="row ep-caption">
            <div class="col-xs-2 ep-full-height" style="display: table;">
                <div style="display: table-cell; vertical-align: middle;">
                    <a onclick="back()"><span class="glyphicon glyphicon-triangle-left"></span></a>
                </div>
            </div>
            <div class="col-xs-8 text-center ep-full-height ep-table">
                <div class="ep-table-cell-v-middle">
                    选择企业
                </div>
            </div>
            <div class="col-xs-2"></div>
        </div>
        <div class="row">
            <div class="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索企业">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="search()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div><!-- /input-group -->
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="ep-ul">
                   <li class="ep-li ep-bottom-border ep-border-color-lgray" ng-repeat="x in names"><a href="{{target}}.html?eid={{x.Id}}">{{x.Name}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
