body {
}
.ep-full-height {
    height:100% !important;
}
.ep-left-border {
    border-left:solid 1px;
}
.ep-right-border {
    border-right:solid 1px;
}
.ep-right-border-white {
    border-right:solid 1px #fff;
}
.ep-right-border-light {
    border-right:solid 1px rgb(100, 249, 253);
}
.ep-top-border {
    border-top:solid 1px;
}
.ep-bottom-border {
    border-bottom:solid 1px ;
}
.ep-top-border-white {
    border-top:solid 1px #fff;
}
.ep-bottom-border-white {
    border-bottom:solid 1px #fff;
}
.ep-top-border-light {
    border-top:solid 1px rgb(247, 249, 253);
}
.ep-bottom-border-light {
    border-bottom:solid 1px rgb(100, 249, 253);
}
.ep-bg-tile {
    background-color:#fff;
}
.ep-caption {
    background-color:rgb(45,109,181);
    color:#fff;
    height:50px;
    font-size:20px;
}
.ep-noborder {
    border:none;
}
.ep-ul {
    list-style:none;
    margin-top:10px;
    padding:0;
}
.ep-li {
    margin-top:5px;
    padding-bottom:8px;
}
.ep-border-color-lgray {
    border-color:#bcd5e8;
}
.ep-li > a {
    text-decoration:none;
}
.ep-table {
    display:table;
}
.ep-table-cell {
    display:table-cell;
}
.ep-table-cell-v-middle {
    display:table-cell;
    vertical-align:middle;
}
.ep-tile-image {
    width:40%;
}
.ep-tile-header-image {
    width:30%;
}
.ep-tile-font {
    font-size:16px;
    margin-top:16px;
}
.ep-tile-header {
    background-color:rgb(124,189,255);
    height:calc(24vh - 50px);
}
.ep-corp-name {
    font-size:20px;
    color:white;
}
.ep-corp-panel {
    background-color:rgb(124,189,255);
}
.ep-corp-data-panel {
    margin-top:50px;
}
.panel-title > a {
    text-decoration:none;
}
.ep-da-pt-caption {
    font-size:20px;
    color:rgb(185,185,185);
    text-align:center;
    height:50px;
    line-height:50px;
    margin-bottom:15px;
}
.ep-da-pt-caption-active {
    color:rgb(45,109,181);
    border-bottom:solid 1px rgb(45,109,181);
}
.ep-da-pt-footer {
    position:fixed;
    bottom:0;
    height:50px;
    line-height:50px;
    border-top:solid 1px #000;
    width:100%;
    background-color:#fff;
    z-index:10;
}
.ep-da-pt-footer-text1 {
    display:inline-block;
    margin-left:10px;
    font-size:20px;
}
.ep-da-pt-footer-text2 {
    display:inline-block;
    margin-left:10px;
    font-size:20px;
    color:rgb(45,109,181);
}
.ep-da-pt-list {
    margin-bottom:8px;
}
.ep-btn-group {
    
}
.ep-list-btn {
    height:50px;
    line-height:50px;
    margin-bottom:8px;
    width:100%;
    background-color:rgb(124,189,255);
    text-align:center;
    color:#fff;
    font-size:16px;
    border-radius:8px;
}
.ep-btn-selected {
    background-color:rgb(44,191,58);
}
#ep-prevent-footer-from-overlapping {
height: 50px;
}
.ep-epb-info-panel {
    height:180px;
    color:#fff;
    background-color:rgb(86,137,192);
}
.ep-epb-info-head-txt {
    font-size:20px;
    display:block;
    margin-top:40px;
}
.ep-epb-info-contact-panel {
    background-color:rgb(44,191,58);
    border-radius:8px;
    padding-top:10px;
    height:70px;
    margin-top:30px;
    margin-left:10px;
    margin-right:10px;
    font-size:18px;
}
.ep-epb-data-panel {
    margin-top:15px;
}
.ep-epb-contact-phone {
    background-color:rgb(44,191,58);
    border-radius:8px;
    padding:10px;
    font-size:20px;
    text-align:center;
    color:#fff !important;
    margin-top:10px;
    text-decoration:none;
}
.ep-report-footer {
    position:fixed;
    bottom:0;
    height:50px;
    line-height:50px;
    border-top:solid 1px #000;
    width:100%;
    background-color:#fff;
    z-index:10;
}
.ep-report-footer-text1 {
    display:inline-block;
    margin-left:10px;
    font-size:20px;
}
.ep-report-footer-text2 {
    display:inline-block;
    margin-left:10px;
    font-size:20px;
    color:rgb(45,109,181);
}
.ep-report-list {
    margin-bottom:8px;
}
.ep-panel-heading {
    background-color:rgb(124,189,255) !important;
    color:#fff !important;
}
.ep-cell-border-light {
    color:rgb(247, 249, 253);
}
.ep-cell-border-white {
    color:#fff;
}
.glyphicon-triangle-left {
 color:#fff !important;
}